 <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 col-lg-3 offset-lg-3">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">{{title}}</h2>
              <p>{{description}}</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
		  </div>
		  
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Hours</h2>
              <ul class="list-unstyled open-hours">
                <li class="d-flex"><span>Monday-Friday</span><span>6am to 11pm</span></li>
                <li class="d-flex"><span>Saturday</span><span>6am to 10pm</span></li>
               <li class="d-flex"><span>Sunday</span><span>8am to 7pm</span></li>
              </ul>
            </div>
          </div>
        </div>
</div>
    </footer>